body {
    font-family: 'Poppins', sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("back-2.gif");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center; /* Center the image */
     background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.pokedex {
    display: flex;
    gap: 30px;
    padding: 30px 0;
}